.nb-login {
    max-width:300px;
    margin:30px auto;
    background:rgba(255,255,255,0.2);
    padding:20px 25px;
    border-radius:2px;
    box-shadow:0px 0px 10px rgba(255,255,255,0.05);
}

.nb-login h3 {
    font-size:13px;
    line-height:13px;
    margin:15px 0px 25px 0px;
    text-transform:uppercase;
}

.nb-login form {
    margin-bottom:15px;
}

.nb-login form input,
.nb-login form textarea {
    box-shadow:none !important;
    padding:6px 5px;
    border-radius:0px;
}

.nb-login form .btn {
    border:0px;
    border-radius:25px;
    padding:10px 20px;
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    background:#449d44;
    margin-top:15px;
}

.nb-login form .btn:hover {
    background:#5cb85c;
}

.nb-login .social a {
    display:block;
    margin-bottom:15px;
    color:#fff;
    padding:8px 20px;
    border-radius:25px;
    text-align:center;
    font-size:12px;
    text-transform:uppercase;
    font-weight:600;
  text-decoration: none;
}

.nb-login .social a:hover {
  opacity: 0.9;
}

.nb-login .social a.facebook {
  background: #3280e7;
}

.nb-login .social a.twitter {
  background: #32c8de;
}

.nb-login .social a.google-plus {
  background: #f96f4a;
}

.nb-login .center {
  text-align: center;
}