/*
Theme Name: myBIM
Theme URI: http://mybim.com.my
Description: A child theme for myBIM
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Author: Nurul Izwan Dahlan
Author URI: http://baliome.ga
Tags: light, fluid-layout, responsive-layout, custom-menu, featured-image-header, flexible-header, full-width-template, theme-options
Text Domain: mybim
Template: bootplate
*/

body {font-family: -apple-system, "BlinkMacSystemFont", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif; color: #4A4A4A;}
section {padding: 0 !important;}
hr {border-top: 1px solid #cccccc;}
ul {margin-bottom: 0;}
a {color: #05AEED; transition: all 0.2s ease-in-out;}
a:hover, a:focus {
    color: #0A8AB9;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
a, button {outline: none !important;}
h1 {font-size: 40px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h2 {
    text-transform: uppercase;
    color: #10A3A6;
    font-weight: 500;
    margin: 10px 0 30px 0;
}
h2::after {
    content: '';
    display: block;
    width: 40px;
    margin-top: 6px;
    border-bottom: 2px solid #05AEED;
}
.row-no-margin {margin-left: 0; margin-right: 0;}
.margin-top {margin-top: 15px;}
.margin-bottom {margin-bottom: 15px;}
.btn.disabled {color: #ffffff; opacity: 1;}
.bg-primary {background-color: #ffffff; color: #4a4a4a;}
.bg-secondary {background-color: #E4F0F1;}
.bg-custom {background-color: #06979A;}
.padding-70 {padding: 70px 0;}
.modal .btn {margin-bottom: 10px;}
.modal label {font-weight: normal;}
.modal h4 {font-size: 16px;}
.modal-header {
    background: #10A3A6;
    color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.modal-content {border: 0;}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    white-space: normal !important;
}
.navbar-img-logo .navbar-brand > img {
    width: 151px;
    height: 26px;
    margin: 12px 12px 0 0;
}
.navbar-default {
    background-color: #ffffff;
    border: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #05AEED;
    background-color: transparent;
    border-bottom: 4px solid #05AEED;
}
.navbar-default .navbar-nav > li > a {color: #05AEED; font-weight: 300;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: #0A8AB9;}
.navbar-nav>li>a {
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
}
.navbar-right {font-size: 14px;}
.navbar-right a {
    color: #8e8e8e !important;
    padding: 0 20px !important;
    margin: 14px 0 !important;
}
.navbar-right a:hover {color: #4a4a4a !important;}
.navbar-right li:first-child a {
    border-right: 1px solid #cccccc;
}
.full-height.vh52 {
    height: 52vh;
    text-align: left;
    color: #ffffff;
}
.full-height.vh52 .container {margin-top: 20vh;}
.full-height.vh52 .display-3 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
}
.full-height.vh52 p {
    font-size: 16px;
    font-weight: 400;
}
.btn {padding: 10px 20px;}
.btn-primary {
    color: #14A7AB;
    background-color: #ffffff;
    border-color: transparent;
}
.btn-outline-primary {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
}
.btn-primary:hover, .btn-outline-primary:hover {
    color: #ffffff;
    background-color: #0f7375;
    border-color: #0f7375;
}
.btn-secondary {
    color: #ffffff;
    background-color: #05AEED;
    border-color: #05AEED;
}
.btn-secondary:hover {
    color: #ffffff;
    background-color: #0A8AB9;
    border-color: #0A8AB9;
}
.btn-facebook {background: #38569C; color: #ffffff;}
.btn-facebook .fa-facebook, .btn-google-plus .fa-google-plus {margin-top: 3px;}
.btn-google-plus {background: #db4437; color: #ffffff;}
.btn-facebook:hover, .btn-google-plus:hover {color: #ffffff;}
.btn-facebook:hover {background: #2a3e6d;}
.btn-google-plus:hover {background: #ab362c;}
.jumbotron {color: #ffffff;}
.jumbotron h1, .jumbotron .display-3 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}
.jumbotron p {
    font-size: 16px;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}
.jumbotron .container {margin-top: 6vh;}
.jumbotron small a {color: #ffffff;}
.jumbotron small a:hover, .jumbotron small a:focus {color: #ffffff; text-decoration: underline;}
/* -------------- Agencies -------------- */
.agencies img.kkr {height: 85px;}
.agencies img.cidb {height: 28px;}
.agencies img.jkr {height: 50px;}
.agencies img.ibs {height: 28px;}
/* -------------- News -------------- */
.news h3 {font-weight: 400; margin-top: 0;}
.news a .panel h3 {color: #05AEED;}
.news a:hover .panel h3 {color: #0A8AB9;}
.news p {margin: 15px 0;}
.news .panel {height: 310px;}
.news small {display: block; line-height: 1.42857143;}
/* -------------- Objects -------------- */
.panel {border: 0; margin-bottom: 30px;}
.panel-heading {border-top-right-radius: 5px; border-top-left-radius: 5px;}
a .panel {color: #4a4a4a; transition: all 0.3s ease-in-out;}
a:hover .panel {box-shadow: 0 7px 20px -4px #00A3A7; transition: all 0.3s ease-in;}
.objects h3 {
    font-size: 16px;
    color: #4a4a4a;
    margin: 0 0 14px;
    font-weight: 400;
    line-height: 1.42857143;
}
.objects .col-md-4 {padding-left: 0;}
.objects img {margin-bottom: 15px; width: 100%;}
.objects .panel {
    height: auto;
    text-align: center;
    position: relative;
}
.objects .panel-filters {text-align: left;}
.objects .panel-filters .panel-body {padding: 15px;}
.objects .panel-objects-small {height: 290px !important;}
.objects .panel-objects small {
    color: #05AEED;
    margin-bottom: 10px;
    display: block;
}
.objects .panel-filters .collapse {display: block;}
.objects .panel-filters .panel-title {display: inline-block;}
.objects .panel-objects table {margin-bottom: 0; font-size: 14px;}
.objects .panel-objects table img, .objects .panel-info table img {margin-bottom: 0; width: auto;}
.objects .panel-objects td:first-child, .table-stats td:first-child {text-align: right; width: 50%;}
.objects .panel-objects td:last-child, .table-stats td:last-child {font-weight: 600; text-align: left;}
.objects .panel-objects td.text-center {text-align: center !important;}
.objects .add-to-fav {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
    color: #cccccc;
    font-size: 18px;
}
.objects .add-to-fav:hover, .objects .add-to-fav .fa-active {color: #05AEED;}
.objects .label-default {background-color: #3498DB !important;}
.objects-main .col-md-4 {padding-left: 15px;}
.objects-main .panel-heading {
    background-color: #07B7BA;
    color: #ffffff;
    padding: 15px;
}
.objects-main .panel-heading a {color: #ffffff;}
.objects-main .panel-objects {height: 564px;}
.objects-single .add-to-fav {position: relative; top: 0; left: 0;}
.objects-single .border-left {border-left: 1px solid #cccccc; padding: 0 10px 5px 10px;}
.objects-single .border-bottom {border-bottom: 1px solid #cccccc; margin-bottom: 10px;}
.objects-single .panel {text-align: left;}
.objects-single .btn-sm {padding: 2px 10px;}
.objects-single .fa-star {color: #cccccc; cursor: pointer;}
.objects-single .fa-star:hover, .fa-rated {color: #05AEED !important;}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    margin-left: 15px;
}
.rating input {position: absolute; left: -999999px;}
.rating label {display: inline-block; font-size: 0;}
.rating > label:before {
    position: relative;
    display: block;
    font: 16px/1 FontAwesome;
    content: "\f005";
    color: #cccccc;
    background: #cccccc;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: #05AEED;
    background: #05AEED;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.objects-single .drag {
    position: absolute;
    top: 15px;
    right: 15px;
}
.table-stats, .table-downloads, .table-specifications {font-size: 14px; margin-bottom: 10px;}
.table-downloads td:first-child, .table-specifications td:first-child {font-weight: 600;}
.cjc, .cjcwrap {width: 100% !important; height: 100% !important;}
/* -------------- FAQ -------------- */
#wpsm_accordion_109 {margin: 0;}
#wpsm_accordion_109 .fa-plus:before {content: "\f078";}
#wpsm_accordion_109 .fa-minus:before {content: "\f077";}
#wpsm_accordion_109 .ac_open_cl_icon {float: right;}
#wpsm_accordion_109 div.wpsm_panel-body {
    padding: 15px !important;
    font-family: -apple-system, "BlinkMacSystemFont", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif !important;
}
#wpsm_accordion_109 .wpsm_panel-title a .ac_title_class {
    padding-left: 0 !important;
    font-family: -apple-system, "BlinkMacSystemFont", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif !important;
    font-weight: 500;
    display: inline;
    line-height: 1.42857143;
}
/* -------------- Knowledge -------------- */
.responsive-tabs {position: relative;}
.responsive-tabs h3 {margin-top: 0;}
.responsive-tabs .panel p:last-child {margin-bottom: 0;}
.responsive-tabs .panel {border: 1px solid #dddddd;}
.responsive-tabs__list {position: absolute; top: -81px; left: 0;}
.responsive-tabs .responsive-tabs__panel, .responsive-tabs .responsive-tabs__list__item {border: 0 !important;}
.responsive-tabs .responsive-tabs__list__item {
    font-size: 16px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    padding: 15px !important;
}
.responsive-tabs .responsive-tabs__list__item--active, .responsive-tabs .responsive-tabs__list__item--active:hover {color: #4a4a4a !important;}
/* -------------- Guidelines -------------- */
.w3eden {padding: 15px 0;}
.w3eden .table {margin-bottom: 0;}
.w3eden .table thead {display: none;}
.w3eden .table tr {border-top: 1px solid #dddddd;}
.w3eden .table td {
    border-top: 0 !important;
    vertical-align: middle !important;
    padding: 15px 0;
}
.w3eden .hidden-xs {display: none;}
.w3eden small {display: none;}
.w3eden a.wpdm-download-link {
    color: #ffffff;
    background-color: #05AEED;
    border-color: #05AEED;
    transition: all 0.2s ease-in-out;
    padding: 10px 20px;
    border-radius: 4px;
    float: right;
}
.w3eden a.wpdm-download-link:hover {
    color: #ffffff;
    background-color: #0A8AB9;
    border-color: #0A8AB9;
    text-decoration: none;
}
.w3eden a.package-title {
    pointer-events: none;
    color: #4a4a4a;
    line-height: 1.42857143;
}
.w3eden td.hidden-xs {padding: 18px 8px !important;}
/* -------------- Contact -------------- */
div.wpcf7-response-output {
    font-style: italic;
    color: #666666;
    font-weight: 300;
    margin: 0 !important;
    padding: 0 !important;
}
.wpcf7-form label, .wpcf7-form input, .wpcf7-form select, .wpcf7-form textarea {width: 100%; font-weight: 400;}
.wpcf7-form input, .wpcf7-form select, .wpcf7-form textarea {
    border: 1px solid #cccccc;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
}
.wpcf7-form select {height: 36px;}
.wpcf7-form p {margin-bottom: 10px;}
.wpcf7-form input[type=submit] {
    color: #ffffff;
    background-color: #05AEED;
    border-color: #05AEED;
    transition: all 0.2s ease-in-out;
    padding: 10px 20px;
    border-radius: 4px;
}
.wpcf7-form input[type=submit]:hover {
    color: #ffffff;
    background-color: #0A8AB9;
    border-color: #0A8AB9;
}
/* -------------- Footer -------------- */
footer {
    color: #4A4A4A !important;
    padding-top: 0 !important;
    background-color: #ffffff !important;
}
footer a {color: #05AEED !important;}
footer a:hover {color: #0A8AB9 !important;}
footer .widget {
    background-color: transparent !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
}
#widget-footer .widget-title {display: none;}
#widget-footer {margin-bottom: 0 !important;}
#socket-footer {
    padding: 2.5rem 0 0 !important;
    border-top: 1px solid #cccccc;
}


/* Extra small devices (iPhone 5, less than 320px) */
@media only screen and (max-width: 320px) {
    .agencies img.ibs {height: 18px !important;}
    .has-featured-image {background-image: url(/wp-content/uploads/2017/06/bg-home.png) !important;}
    .jumbotron .display-3, .jumbotron h1 {font-size: 28px !important;}
    .full-height.vh52 .container {margin-top: 18vh !important;}
    .btn {padding: 10px 15px; font-size: 14px;}
}
/* Small devices (iPhone 6 Plus, less than 768px) */
@media only screen and (max-width: 767px) {
    .col-copyright {margin-bottom: 10px;}
    .full-height.vh52 {height: 100vh; text-align: center;}
    .full-height.vh52 .container {margin-top: 24vh;}
    .full-height.vh52 .display-3 {font-size: 34px;}
    .full-height.vh100 .container {margin-top: 36vh;}
    .agencies img {margin-bottom: 20px;}
    .agencies img.ibs {height: 20px;}
    .objects .panel-objects-small {height: auto !important;}
    .objects .panel-body {padding: 5px;}
    .img-objectives {width: 150px; float: left; padding-right: 15px;}
    .desc-objectives h2 {overflow: hidden;}
    .desc-objectives p:last-child {margin-bottom: 0;}
    .objects .panel {margin-bottom: 20px; text-align: left;}
    .objects .panel-objects img.img-responsive {width: 80px; float: left; padding: 0 15px 15px 0; margin-bottom: 0;}
    .objects .panel-objects-small img {padding: 0 15px 0 0;}
    .objects .panel-objects small {margin: 10px 0 0;}
    .objects .panel-objects h3 {margin-bottom: 10px;}
    .row-no-margin {margin-left: -15px; margin-right: -15px;}
    .objects .col-md-4 {padding-left: 15px;}
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {max-height: 450px;}
    .jumbotron .container {margin-top: 4vh;}
    .news .panel {height: auto;}
    .responsive-tabs .responsive-tabs__heading {display: none !important;}
    .responsive-tabs-wrapper {border: 0 !important;}
    .responsive-tabs ul.responsive-tabs__list {display: block;}
    .jumbotron {padding-top: 50px; padding-bottom: 30px;}
    .jumbotron .btn {margin-bottom: 0;}
    .jumbotron h1, .jumbotron .display-3 {font-size: 30px;}
    .jumbotron p {margin-bottom: 0;}
    .jumbotron .margin-top {margin-top: 15px;}
    .panel {margin-bottom: 15px;}
    #wpsm_accordion_109 div.wpsm_panel-body {padding: 15px 0 !important;}
}
/* Tablet (iPad, between 768px & 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .full-height.vh52 {height: 40vh;}
    .full-height.vh52 .container {margin-top: 16vh;}
    .agencies img {margin-bottom: 20px;}
    .agencies img.ibs {height: 20px;}
    .objects .panel-objects-small {height: 320px !important;}
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {max-height: 514px;}
    .navbar .container {width: auto;}
    .news .panel {margin-bottom: 30px; height: 270px;}
    .jumbotron {padding-top: 30px; padding-bottom: 30px;}
    .jumbotron h1, .jumbotron .display-3 {font-size: 34px;}
}
@media (min-width: 768px) {
    .modal-dialog {width: 400px;}
}
/* From extra small devices until tablet */
@media (max-width: 1023px) {
    .navbar-header {float: none;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;}
    .navbar-collapse.collapse {display: none !important;}
    .navbar-nav {float: none !important;}
    .navbar-nav>li {float: none;}
    .collapse {display: none !important;}
    .collapse.in {display: block !important;}
    .navbar-img-logo .navbar-brand > img {padding: 0 0 0 15px;}
    .nav>li {border-bottom: 1px solid #e7e7e7;}
    .navbar-default, .navbar-collapse {border: 0;}
    .navbar-header {border-bottom: 1px solid #cccccc;}
    .navbar-nav {margin-top: 0; margin-bottom: 0;}
    .navbar-nav .active {background-color: #05AEED;}
    .navbar-nav .active a {color: #ffffff !important;}
    .navbar-right li:first-child a {border-right: 0;}
    .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {margin-right: -15px; margin-left: -15px;}
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: 0;}
    .responsive-tabs .responsive-tabs__panel {padding: 0 !important;}
    .responsive-tabs .responsive-tabs__list__item {padding: 14px 15px !important;}
    .responsive-tabs__list {top: -85px;}
    .w3eden {padding: 0;}
    .w3eden .container-fluid {padding-right: 0; padding-left: 0;}
    h2 {margin-top: 10px !important;}
    .padding-70 {padding: 30px 0;}
    .jumbotron h1, .jumbotron .display-3 {margin-top: 0;}
    .plug-in p {margin-bottom: 0;}
    .objects .panel-filters .panel-heading {border-radius: 5px !important;}
    .objects .panel-filters .fa-chevron-down {margin-top: 2px;}
    .table.files, .table.downloads {margin-bottom: 30px;}
}